@import './configs/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@import '~bootstrap/scss/bootstrap.scss';
@import './configs/mixin';
@import './components/welcome';
@import './components/recipe';
@import './components/header';
@import './components/recipeDetails';
